body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: white;
}
h1 {
    color: orange;
    text-align: center;
    text-transform: uppercase;
}
nav {
	background-color: orange;
	color: white;
}
nav > ul {
    text-transform: uppercase;
	list-style: none; 
    width:700px;
	margin: 0 auto; 
}
nav a {
	display:block;
	padding: 20px;
	color: white;
	text-decoration: none; 
	font-weight: bold;
	}
nav a:hover {
	background-color: lightgreen;
	color: grey;
}
nav > ul>li {
	list-style: none; 
	display:-moz-inline-stack;
	display:inline-block;
}


#idForm {
	width: 600px;
	margin: 0 auto;
	margin-top: 50px;
	
}
#idForm form {
	width:100%;
}
input {
	width: 100%;
    padding: 10px 0;
}
.formFields input {
	width:50px;
}

.formFields {
	display: -ms-flex;
	display: -moz-flex;
	display: -webkit-flex; 
	display: flex;
	
	-webkit-flex-direction: row;
	flex-direction: row;
}
.divButtons {
	display: -ms-flex;
	display: -moz-flex;
	display: -webkit-flex; 
	display: flex;
	
	-webkit-flex-direction: column;
	flex-direction: column;
	

}

.divSelect {
	display: -ms-flex;
	display: -moz-flex;
	display: -webkit-flex; 
	display: flex;
	
	-webkit-flex-direction: row;
	flex-direction: row;
}
.divSelect input {
	width: 50px;
}

main {
    width:700px;
    margin: 0 auto;
}
article {
    margin-top: 40px;
	padding: 5px;
}

.